.about_section-1 {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #27211e;
}

.about_heading {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 50px;
    width: 60%;
    text-align: center;
}

.about_decs {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    width: 60%;
}

.about_section-3 {
    background-color: #27211e;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .about_heading {
        font-size: 32px !important;
        width: 85% !important;
    }
    
    .about_decs {
        font-size: 18px;
        font-weight: 200;
        text-align: center;
        width: 85%;
    }
}

@media screen and (max-width: 420px) {
    .about_heading {
        font-size: 32px !important;
        width: 90% !important;
    }
    .about_decs {
        font-size: 18px;
        font-weight: 200;
        text-align: center;
        width: 90%;
    }
}
