.partners_section-1 {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #27211e;
}
 
.partners_heading {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
    width: 60%;
    margin-top: 80px;
}

.partners_decs {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    width: 60%;
    margin-bottom: 80px;
}

.partners {
    display: flex;
}

.partners_card {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}

.partner_heading {
    font-size: 22px;
    font-weight: 400;
    width: 200px;
    word-wrap: break-word;
    text-align: center;
}

.partner_desc {    
    font-size: 20px;
    font-weight: 200;
    width: 200px;
    text-align: center;
    word-wrap: break-word;
}


.partners_section-2 {
    background-color: #27211e;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1250px) {
    .partners {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}