.App {
    margin-top: 100px;
}
nav {
    background-color: #27211e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  .top {
    height: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
.top > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 0 10px;
  }
  
  .top > li > a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  .top > a:hover {
    opacity: 0.8;
    color: white;
    text-decoration: none;
}

.button_top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: 800;
    color: #ffffff;
    background-color: #12c855;
    cursor: pointer;
}

.button_side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    border-radius: 4px;
    font-weight: 800;
    color: #ffffff;
    background-color: #12c855;
    margin-bottom: 80px;
    cursor: pointer;
}

.button_side:hover, .button_top:hover {
    background-color: #12c855d5;
}



/* ------------------ SIDE ------------------  */


.side {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #413833;
}

.side_nav {
    position: fixed;
    color: #27211e;
    top: 0;
    right: -40%;
    width: 40%;
    height: 100vh;
    transition: right 0.3s ease-in-out;
    z-index: 5;
}

.side > .routes {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
    margin-top: 150px;
}

.side > .routes > li {
    text-decoration: none;
    list-style: none;
    padding: 5px 40px;
}

.side > .routes > li > a {
text-decoration: none;
color: #fff;
font-size: 18px;
font-weight: 600;
}

.side > .routes > a:hover {
opacity: 0.8;
color: white;
text-decoration: none;
}
.menu_icon, .nav_active, .side_nav {
    display: none;
}

.nav_active {
    right: 0;
    transition: right 0.3s ease-in-out;
}

.menu_icon {
    z-index: 10;
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.menu_icon > img {
    max-width:50%;
    height:auto;
}
.logo {
    height: 40px;
    width: 200px;
    margin: 40px;
    object-fit: cover;
  }
.logo > img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .menu_icon, .nav_active, .side_nav {
        display: block;
    }
    .top {
        display: none;
    }

    .side > .routes > li {
        display: flex;
    }

    .side > .routes > li > span {
        margin-right: 15px;
    }

    .side > .routes > li > a {
        font-size: 14px;
        font-weight: 400;
    }
}

@media screen and (max-width: 760px) {
    .logo {
        height: 40px;
        width: 150px;
        margin: 40px;
        object-fit: cover;
      }

    .side_nav {
        width: 60%;
        right: -60%;
    }

    .nav_active {
        right: 0;
    }
    
    .side > .routes > li {
        display: flex;
    }

    .side > .routes > li > span {
        margin-right: 15px;
    }

    .side > .routes > li > a {
        font-size: 14px;
        font-weight: 400;
    }

    .button_side {
        padding: 10px 60px;
    }
}
